/* MAIN */
main {
    isolation: isolate;
    margin-bottom: 32px;
}

/* HEADER */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

nav ul {
    display: flex;
    gap: 12px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 12px;
}

nav a:hover,
nav .active a {
    text-decoration: underline;
}

/* CONTENT */
.content {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1040px) 1fr;
    column-gap: 32px;
}

.content > * {
    grid-column: 2;
}

section {
    margin: 16px 0;
}

.writing {
    display: flex;
    max-width: 60ch;
    margin: 0px auto;
}

#about .writing p {
    font-size: 18px;
    margin: 18px 0;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project-card {
    position: relative;
}

.project-card-info {
    position: absolute;
    top: 0;
    left: 0;

    padding: 12px;

    color: white;
}

.project-card ul {
    display: flex;
    gap: 4px;
    text-transform: uppercase;
}

.project-card ul li:not(:first-child)::before {
    content: '/ ';
}

.project-card a {
    text-decoration: underline;
}

.project-card img {
    width: 100%;
}

.project-video {
    width: 100%;
    border-radius: 18px;
}

@media (max-width: 550px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

/* WORKS */
.work-card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;

    padding: 8px 0;
    border-bottom: 1px solid black;
}

.work-card:first-of-type {
    border-top: 1px solid black;
}

.work-title::after {
    content: ' –';
}

@media (max-width: 550px) {
    .work-card {
        flex-direction: column;
    }

    .work-title::after {
        content: '';
    }
}
/* SOCIALS */
.socials ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 16px 0;
    text-decoration: underline;
}
